<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.demo.mapper.BasketMapper">
	
	<select id="getBaskets" resultType="basket">
	
			SELECT
					B.PD_NO,
					P.PD_IMG,
					P.PD_NM,
					P.PD_TAG,
					P.PD_SALE,
					B.BSK_QTY
			FROM PRODUCTS_TB P, BASKETS_TB B
			WHERE 
					P.PD_NO = B.PD_NO 
					AND B.MB_ID=#{mbId}
					
	</select>
	
	<insert id="insertBasket">
	
			INSERT INTO BASKETS_TB (
					MB_ID, 
					PD_NO,
					BSK_QTY
			)
			VALUES (#{mbId}, #{pdNo}, #{bskQty})
			
	</insert>
	
	<select id="getBasket" parameterType="basket" resultType="basket">
	
			SELECT
					MB_ID,
					PD_NO,
					BSK_QTY
			FROM BASKETS_TB
			WHERE
					MB_ID=#{mbId}
					AND PD_NO=#{pdNo}
					
	</select>
	
	<delete id="deleteBasket" parameterType="basket">

			DELETE FROM BASKETS_TB
			WHERE
					MB_ID=#{mbId}
					AND PD_NO=#{pdNo}
					
	</delete>
	
	<update id="updateBasket" parameterType="basket">

			UPDATE BASKETS_TB
			SET BSK_QTY=#{bskQty}
			WHERE
					MB_ID=#{mbId}
					AND PD_NO=#{pdNo}

	</update>
	
	<delete id="deleteBaskets" parameterType="map">

			DELETE FROM BASKETS_TB
			WHERE
					MB_ID=#{mbId}
					AND
						PD_NO
						IN

			<foreach item="item" index="index" collection="basketList" open="(" separator="," close=")">
				#{item}
			</foreach>
		
	</delete>
	
</mapper>