<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.demo.mapper.MessageMapper">

	<insert id="sendMsg" parameterType="message">

			INSERT INTO MESSAGE_TB (
					MSG_NO,
					MSG_TARGET,
					MSG_SENDER,
					MSG_CONTENT
			)
			VALUES (
					( SELECT NVL(MAX(MSG_NO), 0)+1 
					  FROM MESSAGE_TB ),
					#{msgTarget}, #{msgSender}, #{msgContent}
			)

	</insert>

	<select id="getMember" resultType="member">

			SELECT
					MSG_NO,
					MSG_TARGET,
					MSG_SENDER,
					MSG_CONTENT,
					MSG_STATUS,
					MSG_OPDT,
					MSG_SDDT
			FROM MEMBERS_TB
			WHERE MB_ID=#{mbId}

	</select>
	
	<select id="getMsgs" resultType="message">

			SELECT
					MSG_NO,
					MSG_TARGET,
					MSG_SENDER,
					MSG_CONTENT,
					MSG_STATUS,
					MSG_OPDT,
					MSG_SDDT
			FROM MESSAGE_TB
			WHERE
					MSG_TARGET=#{mbId}
					AND MSG_STATUS = 'N'

	</select>
	
	<select id="getMsg" resultType="message">

			SELECT
					MSG_NO,
					MSG_TARGET,
					MSG_SENDER,
					MSG_CONTENT,
					MSG_STATUS,
					MSG_OPDT,
					MSG_SDDT
			FROM MESSAGE_TB
			WHERE MSG_NO=#{msgNo}

	</select>
	
	<update id="updateStatus">

			UPDATE MESSAGE_TB
			SET
					MSG_STATUS = 'Y',
					MSG_OPDT = SYSDATE
			WHERE MSG_NO=#{msgNo}

	</update>

</mapper>