<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.demo.mapper.MProductMapper">

	<select id="getProductList" parameterType="map" resultType="product">
		<![CDATA[
			SELECT * FROM
			(
				SELECT P.*, ROW_NUMBER() OVER(ORDER BY PD_NO DESC) AS RNUM
				FROM PRODUCTS_TB P WHERE CTGY_CD=#{ctgyCd}
			)
			WHERE RNUM BETWEEN #{cri.pageStart} AND (#{cri.pageStart} + #{cri.perPageNum} - 1)
		]]>
	</select>
	
	<select id="countProductList" resultType="int">
		<![CDATA[
			SELECT COUNT(PD_NO) FROM PRODUCTS_TB WHERE CTGY_CD=#{ctgyCd}
		]]>
	</select>
	
	<select id="getCategoryList" resultType="category">
		<![CDATA[
			SELECT * FROM CATEGORY_TB WHERE CTGY_PARENT=#{ctgyParent}
		]]>
	</select>

	<select id="getProduct" parameterType="Integer" resultType="product">
		<![CDATA[
			SELECT * FROM PRODUCTS_TB WHERE PD_NO=#{pdNo}
		]]>
	</select>


</mapper>