<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.demo.mapper.ProductMapper">

	<insert id="registerProduct">
		
			INSERT INTO PRODUCTS_TB (
					PD_NO,
					CTGY_PTCD,
					CTGY_PTNM,
					CTGY_CD,
					CTGY_NM,
					PD_NM,
					PD_TAG,
					PD_SALE,
					PD_STATUS,
					PD_IMG,
					PD_DETL,
					PD_STOCK
			)
			VALUES (
					( SELECT NVL(MAX(PD_NO), 0)+1 
					  FROM PRODUCTS_TB ),
					#{ctgyPtcd}, #{ctgyPtnm}, #{ctgyCd}, #{ctgyNm}, #{pdNm},
					#{pdTag}, #{pdSale}, #{pdStatus}, #{pdImg}, #{pdDetl}, #{pdStock})

	</insert>

	<select id="getProductList" resultType="product">

			SELECT *
			FROM
			(
				SELECT P.*, ROW_NUMBER() OVER(ORDER BY PD_NO DESC) AS RNUM
				FROM PRODUCTS_TB P
				WHERE 1=1

				<include refid="search"></include>		

			)
			WHERE RNUM BETWEEN #{pageStart} AND (#{pageStart} + #{perPageNum} - 1)

	</select>
	
	<select id="countProductList" resultType="int">

			SELECT COUNT(*)
			FROM PRODUCTS_TB
			WHERE 1=1

			<include refid="search"></include>
		
	</select>
	
	<select id="getCategoryList" resultType="category">

			SELECT
					CTGY_CD,
					CTGY_PARENT,
					CTGY_NM
			FROM CATEGORY_TB
			WHERE CTGY_PARENT=#{ctgyParent}

	</select>
	
	<select id="getProduct" parameterType="Integer" resultType="product">

			SELECT
					PD_NO,
					CTGY_PTCD,
					CTGY_PTNM,
					CTGY_CD,
					CTGY_NM,
					PD_NM,
					PD_TAG,
					PD_SALE,
					PD_STATUS,
					PD_IMG,
					PD_DETL,
					PD_STOCK,
					PD_ENLDT,
					PD_UPDDT
			FROM PRODUCTS_TB
			WHERE PD_NO=#{pdNo}

	</select>
	
	<delete id="deleteProduct" parameterType="Integer">

			DELETE FROM PRODUCTS_TB
			WHERE PD_NO=#{pdNo}

	</delete>
	
	<delete id="deleteProducts" parameterType="list">

			DELETE FROM PRODUCTS_TB
			WHERE 
					PD_NO
					IN

			<foreach item="item" index="index" collection="list" open="(" separator="," close=")">
				#{item}
			</foreach>
			
	</delete>
	
	<update id="modifyProduct" parameterType="product">

			UPDATE PRODUCTS_TB
			SET
					CTGY_PTCD=#{ctgyPtcd},
					CTGY_PTNM=#{ctgyPtnm},
					CTGY_CD=#{ctgyCd},
					CTGY_NM=#{ctgyNm}, 
					PD_NM=#{pdNm},
					PD_TAG=#{pdTag},
					PD_SALE=#{pdSale},
					PD_STATUS=#{pdStatus},
					PD_IMG=#{pdImg},
					PD_DETL=#{pdDetl},
					PD_STOCK=#{pdStock},
					PD_UPDDT = SYSDATE
			WHERE PD_NO=#{pdNo}

	</update>
	
	<update id="modifyCheckedProduct" parameterType="product">

			UPDATE PRODUCTS_TB
			SET
					PD_TAG=#{pdTag},
					PD_SALE=#{pdSale},
					PD_STATUS=#{pdStatus},
					PD_STOCK=#{pdStock}
			WHERE PD_NO=#{pdNo}

	</update>
	
	<sql id="search">
		<if test="searchType != null">
			<if test="searchType == 'n'.toString()">
				AND PD_NM LIKE CONCAT('%', CONCAT(#{keyword}, '%'))
			</if>
			<if test="searchType == 'c'.toString()">
				AND CTGY_NM LIKE CONCAT('%', CONCAT(#{keyword}, '%'))
			</if>
			<if test="searchType == 'u'.toString()">
				<![CDATA[ AND PD_TAG <= #{keyword} ]]> 
			</if>
			<if test="searchType == 'd'.toString()">
				<![CDATA[ AND PD_TAG >= #{keyword} ]]> 
			</if>
		</if>
	</sql>

</mapper>