<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<settings>
		<setting name="mapUnderscoreToCamelCase" value="true"/>
	</settings>

	<typeAliases>
		<typeAlias alias="list" type="java.util.List" />
		<typeAlias alias="map" type="java.util.Map" />
		<typeAlias alias="admin" type="com.demo.biz.admin.AdminVO" />
		<typeAlias alias="member" type="com.demo.biz.member.MemberVO" />
		<typeAlias alias="product" type="com.demo.biz.product.ProductVO" />
		<typeAlias alias="category" type="com.demo.biz.product.CategoryVO" />
		<typeAlias alias="basket" type="com.demo.biz.product.BasketVO" />
		<typeAlias alias="order" type="com.demo.biz.order.OrderVO" />
		<typeAlias alias="orderDetail" type="com.demo.biz.order.OrderDetailVO" />
		<typeAlias alias="review" type="com.demo.biz.order.ReviewVO" />
	</typeAliases>

</configuration>